#form {
    height: 50px;
}

main {
    min-height: calc(100vh - 121.45px);
}

.ms-card {
    min-height: 150px;
}

.ms-card .card-body {
    flex: none;
}

.animal {
    color: #0000ff;
}

.vegetable {
    color: #ffa502;
}

.user {
    color: #800080;
}